.bgc-black{
	background-color: #000000;
}
.header{
	width: 100%;
	overflow: hidden;
}
.header>div{  
	/* .logo,.header-link,.header-search,.header-user */	
	width: 26%;
	height: 50px;
	float: left;
	margin: 0 15px;
}
/* .logo{
	width: 20%;
}	
.header-link{
	width: 25%;
}
.header-search{
	width: 25px;
}
.header-user{
	width: 30%;
} */
.main-div .logo{
	margin: 20px;
	width: 180px;
}
.logo img{
	width: 170px;
	padding: 5px 0 0 40px;
}
.header-link>ul>li>a{
	color: #F7F7F7;
} 
.header-link>ul>li{
	float: left;
	margin: 10px;
} 
.header-search>*{
	float: left;
	margin: 20px;
}
.header-user{
	padding: 0 20px 0 0;
}
.header-user div{
	color: #F7F7F7 ;	
}
.header-user li{
	float: left;
	list-style-type:none;
	margin: 10px;
}
input{
	border-radius: 50px 0 0 50px;
	margin: 20px 0;
	background-color: #181818;
	height: 31px;
	outline: none;
	border: none;
	float: right;
}
input::placeholder{
	color: #F7F7F7;
}
.header-search a{
	border-radius: 0 50px 50px 0;
	background: #0000FF;
	padding: 0 20px;
	margin: 20px 0;
	height: 31px;
	background: orangered;
	
}
.header-search img{
	padding: 5px;
}
.header-link a{
	text-decoration: none;
}
.nav1 li{
	float: left;
	list-style-type:none;
	margin: 15px 25px;
}
.nav1 img{
	height: 30px;
	width: 30px;
	
}
.nav2 li{
	float: left;
	list-style-type:none;
	margin: 25px;
}
.nav2 div{
	margin: -3px 18px 18px -10px;
}
.nav-img img{
	margin: 10px 20px 0 20px;
}


