
			.play{
				display: grid;
				grid-template-columns: 1fr 350px;
				padding-top: 15px;
				color: #555555;
			}
			.comment{
				display: grid;
				grid-template-columns: 1fr 350px;
				margin-top: 24px;
			}
			
			.gift{
				width: 100px;
				height: 100px;
				position: fixed;
				right: 20px;
				bottom: 20px;
				transform: rotate(-15deg);
				transition: transform 0.5s linear;				
			}
			.gift:hover{
				transform: rotate(15deg);
			}
			.player video{
				background-color: #000000;
				outline: none;
			}
			.play-option-bar{
				display: flex;
				/* background-color: #000000; */
			}
			.play-option{
				width: 50%;
			}
			.play-option ul li{
				display: inline-block;
				margin-right: 16px;
				font-size: 14px;
				height: 38px;
				line-height: 38px;
			}

/* 			.play-option ul li span{
				color: #555555;
			} */
			.play-option-bar img{
				vertical-align: middle;
				margin-right: 8px;
			}
			.play-barrage{
				width: 50%;
				text-align: right;
			}
			.play-barrage>div{
				display: inline-block;
			}
			.play-barrage-logo{
				margin-right: 10px;
			}
			.play-barrage-logo span{
				color: #555555;
			}
			.play-barrage-input{
				height: 38px;
				background-color: #181818;
				border-radius: 19px;
				font-size: 14px;
				width: 65%;
				line-height: 38px;
				text-align: left;
			}
			.play-barrage-input span{
				color: #FFFFFF;
				padding-left: 10px;
			}
			.play-barrage-input input{
				height: 15px;
				border: none;
				outline: none;
				background-color: #181818;
				border-left: 1px solid #555555;
				width: 50%;
				color: #555555;
			}
			.play-barrage-input input::placeholder{
				color: #555555;
				font-style: normal;
			}
			.play-barrage-input div{
				color: #FFFFFF;
				float: right;
				width: 60px;
				height: 38px;
				background-color: #333333;
				text-align: center;
				border-radius: 0 19px 19px 0;
			}
			.play-barrage-switch{
				width: 40px;
				height: 20px;
				border-radius: 10px;
				background-color: #121212;
			}
			.play-barrage-switch div{
				width: 20px;
				height: 20px;
				line-height: 20px;
				background-color: #333333;
				border-radius: 50%;
				color: #FFFFFF;
				font-size: 12px;
				text-align: center;
			}
			.play-right-list{
				padding-left: 20px;
				display: grid;
				grid-template-rows: 35px 1fr;
				
				position: absolute;
				right: 160px;
			}
			.list-title{
				color: #FFFFFF;
				font-size: 16px;
			}
			.list-detail{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.list-item>div{
				display: inline-block;
				vertical-align: top;
			}
			.list-con{
				padding: 10px 0;
				color: #555555;
				font-size: 12px;
			}
			.list-hot{
				margin-top: 15px;
			}
			.list-hot img{
				vertical-align: middle;
				margin-right: 5px;
			}
			
			.play-bottom{
				margin-top: 20px;
				grid-column-start: 1;
				grid-column-end: 3;
			}
			.play-bottom>div{
				display: inline-block;
			}
			.exclusive{
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 20px;
				background-color: #ff6667;
				color: #FFFFFF;
				text-align: center;
				line-height: 20px;
				border-radius: 10px;
				font-size: 14px;
			}
			.play-title{
				color: #FFFFFF;
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
			}
			.play-link{
				margin-top: 10px;
			}
			.play-link li{
				display: inline-block;
				color: #555555;
				font-size: 12px;
				margin-right: 20px;				
			}
			.play-link li img{
				vertical-align: middle;
				margin-right: 5px;
			}
			.play-bottom-ad{
				float: right;
			}
			.maybe-like label,.hot-list label{
				font-size: 18px;
			}
			.like-list{
				display: flex;
				margin-top: 10px;
				justify-content: space-between;
			}
			.like-list>div{
				width: 19%;
			}
			.like-list img{
				width: 100%;
			}
			.post-name{
				font-size: 14px;
			}
			.introduction{
				font-size: 12px;
				color: #999999;
			}
