
.ad-bar img{
	margin-top: 10px;
	width: 100%;
}
.classification-area{
	display: flex;
	flex-direction:column;
}
.classification-item{
	margin: 10px 0;
	display: flex;
}
.classification-item span{
	margin-right: 20px;
	font-size: 14px;
}
.classification-item span:first-child{
	margin-right: 40px;
}
.selected{
	color: #00AEEF;
}
.play-list{
	font-size: 14px;
	margin: 20px 0;
}
.play-list a{
	color: #000000;
}
.play-list .introduction{
	font-size: 12px;
	color: #999999;
}
.play-list-flex1{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.play-list-flex1>div{
	width: 200px;
	margin-bottom: 20px;
}
.play-list img{
	width: 100%;
	border-radius: 5px;
}