
.main-div{
	width: 100%;
	padding: 0 100px;
}
.header{
	height: 60px;
	color: #555555;
	overflow: hidden;
}
.header>div{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 180px;
}
.logo img{
	height: 30px;
	margin: 15px 0;
}
input::placeholder{
	color: #C7C7C7;
	font-size: 14px;
	font-style: italic;
}
