.play-list {
	font-size: 14px;
	margin: 20px 0;
}
.play-list-title {
	margin-bottom: 10px;
}
.play-list-flex1 {
	display: flex;
	justify-content: space-between;
}
.play-list-flex1>div {
	width: 16%;
}
.play-list-title>div {
	display: inline-block;
	font-size: 24px;
	margin-right: 20px;
	vertical-align: middle;
}
.play-list-title span {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	padding: 0 10px;
	color: #666666;
}
.play-list-title span:first-of-type {
	color: #FFFFFF;
	border-radius: 8px;
	background-color: #ff6467;
}
.play-list a {
	color: #000000;
}
.play-list img {
	width: 100%
	border-radius: 5px;
}
.play-list.introduction {
	font-size: 12px;
	color: #999999;
}
.play-list-flex2 {
	display: flex;
	justify-content: space-between;
	
}
.play-list-flex2 .item1 {
	width: 32.8%;
}
.play-list-flex3 {
	width: 66.4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.play-list-flex3>div {
	width: 24%;
}
.ad-bar img{
	width: 100%;
}