.float-right {
	float: right;
}
.header-nav li {
	display: inline-block;
	margin-left: 20px;
	line-height: 60px;
	height: 60px;
}
.header-nav a {
	color: #000000;
}
.header-nav li:nth-child(2){
	border-bottom: 4px solid #ff6d67;
}
.header-nav li:nth-child(2) a{
	color: #ff6d67;
}
.news-img img {
	width: 100%;
}
.news-div {
	margin-top: 30px;
}
.news-div>div {
	display: inline-block;
	vertical-align: top;
}
.news-title {
	width: 350px;
}
.latest-news-title {
	font-size: 1.5em;
}
.latest-news li, .hot-news li {
	font-size: 0.8em;
}
.latest-news li>div, .hot-news li>div {
	display: inline-block;
	vertical-align: bottom;
	line-height: 1.5em;
}
.hot-news li{
	counter-increment: name;
}
.hot-news li::before {
	content: counter(name)".";
	text-align: center;
}
.hot-news li:first-child::before {
	color: #FFFFFF;
	background-color:#ff6b6b;
}
.hot-news li:nth-child(2)::before {
	color: #FFFFFF;
	background-color: #ff9037;
}
.hot-news li:nth-child(3)::before {
	color: #FFFFFF;
	background-color: #ffb637;
}
.latest-news-name {
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-left-img img {
	width: 100%;
	margin: 30px 0;
}
.news-context {
	width: calc(100% - 400px);
	float: right;
}
.title-bar {
	height: 120px;
	background-color: #f7f7f7;
	padding: 0 40px;
}
.title-bar .title {
	text-align: center;
	color: #00aeef;
	font-weight: bold;
	font-size: 1.5em;
}
.title-bar .author {
	font-size: 0.8em;
	text-align: center;
}
.title-bar .date {
	font-size: 0.8em;
}
.news-detailed p {
	text-indent: 2em;
}
.news-foot {
	border-top: 1px solid #999999;
	padding-top: 5px;
	margin-bottom: 20px;
}
.news-foot>div {
	display: inline-block;
	font-size: 0.8em;
	margin-right: 20px;
}
.shear-img {
	vertical-align: bottom;
	margin-left: 5px;
}
.news-foot>div:last-child {
	float: right;
	margin-right: 0px;
}
.kanguo::before{
	content: url(../image3/kanguo.png);
}
.dianzan::before{
	content: url(../image3/dianzan2.png);
}
.shoucang::before{
	content: url(../image3/shoucang.png);
}
