.area-div {
	width: 600px;						/* 宽度600px */
	border-radius: 10px;				/* 设置圆角 */
	box-shadow: 0 0 10px 5px #C3C3C3;	/* 设置边框阴影 */
	margin: 20px auto;					/* 上下外边距20px，左右自动居中 */
	text-align: center;					/* 内容居中 */
	padding: 10px 0;					/* 上下内边距10px，左右为0 */
}
.txt-bold {
	font-weight: bold;			/* 字体加粗 */
}
.txt-italic {
	font-style: italic;			/* 字体倾斜 */
}
/* 多类选择器 */
.txt-bold.txt-italic {
	background-color: silver;	/* 背景色 银色 */
}
#div-title {
	font-size: 20px;		/* 字体大小20px */
	font-weight: bold;		/* 字体加粗 */
	color: green;			/* 文字颜色 绿色 */
}
* {
	padding: 0;		/* 内边距为0 */
	margin: 0;		/* 外边距为0 */
}
h1 {
	font-size: 40px;		/* 字体大小 40px */
	text-align: center;		/* 内容居中 */
	color: silver;			/* 字体颜色 银色 */
}
input[type="text"] {			/* 类型为文本框 */
	width: 200px;
	height: 30px;
	border:2px solid silver;	/* 边框为2个像素的银色实线 */
}
input[type="password"] {		/* 类型为密码框 */
	width: 200px;
	height: 30px;
	border:2px solid red;		/* 边框为2个像素的红色实线 */
}
input[type="button"], button {
	width: 100px;
	height: 30px;
	background-color: black;	/* 背景色 黑色 */
	border: none;				/* 无边框 */
	color: white;				/* 文字 白色 */
	border-radius: 15px;		/* 设置圆角 */
}
<style type="text/css">
	……
	/* 后代选择器 */
	.sub-div p {
		font-size: 18px;		/* 文字大小 18px */
	}
	/* 子元素选择器 */
	.sub-div>p {
		color: green;			/* 文字颜色 绿色 */
	}
</style>
.bro-div h3 + p {
	font-size: 20px;
	font-weight: bold;		/* 文字加粗 */
}
/* 通用兄弟选择器 */
.bro-div h3 ~ span {
	font-size: 18px;
	color: silver;			/* 文字颜色 颜色 */
}
ul {
	list-style: none;		/* 列表样式 无 */
}
.ul-child li:first-child {		/* td-child中的列表第一个元素，且标签为li */
	color: red;
}
.ul-child li:last-child {		/* td-child中的列表最后一个元素，且标签为li */
	color: blue;
}
.ul-child li:nth-child(2) {		/* td-child中的列表第二个元素，且标签为li */
	color: green;
}
.ul-child li:nth-last-child(2) {		/* td-child中的列表倒数第二个元素，且标签为li */
	color: orchid;
}
.link-div a:link {				/* 链接未访问时 */
	color: red;
}
.link-div a:visited {			/* 链接访问后 */
	color: silver;
}
.link-div a:hover {				/* 鼠标指向时 */
	color: white;
	background-color: red;
}
.link-div a:active {				/* 鼠标按下时 */
	color: black;
}
.input-div input:focus {			/* 具有焦点时 */
	font-weight: bold;
}
.input-div input:enabled {		/* 启用时 */
	color: green;
}
.input-div input:disabled {		/* 禁用时 */
	color: orchid;
}
.input-div input:checked {		/* 被选取时 */
	outline: 2px solid green;
}
.context::first-line {			/* 首行加粗 */
	font-weight: bold;
}
.context::first-letter {		/* 首字加大 */
	font-size: 24px;
}
.comment::before {			/* 内容前加“☺” */
	content: "☺";
}
.comment::after {			/* 内容后加“☺” */
	content: "☺";
}
input::placeholder {		/* 输入框预留文字样式 */
	color: silver;
	font-size: 12px;
	font-style: italic;
}