/* 所有元素的内外边距,字体等 */
* {
	padding: 0px;					/* 内边框为0 */
	margin: 0px;					/* 外边框为0 */
	box-sizing: border-box;			/* 盒模型设置 */
	font-family: "microsoft yahei";	/* 字体设置 */
}
table {
	border-collapse: collapse;	/* 消除表格单元格之间的间隙 */
}
a {
	text-decoration: none;		/* 取消链接的默认样式 */
}
ul {
	list-style: none;			/* 取消列表的默认样式 */
}
/* 对文本框进行设置 */
textarea{
	resize:none;				/* 去右下角灰点 */
}
textarea::-webkit-scrollbar {
	display: none;				/* 去滚动条 */
}
.main-div {
	width: 100%;
	padding: 0 100px;			/* 左右内边距100px */
}
.bgc-black {
	background-color: #000000;	/* 背景色 黑色 */
}
.header {
	height: 60px;			/* 高度60px */
	color: #555555;
	overflow: hidden;		/* 溢出部分隐藏 */
}
.header>div {
	display: inline-block;		/* 顶部的子元素div设置成内联块元素 */
	vertical-align: middle;		/* 垂直居中 */
}
.logo {
	width: 180px;				/* logo区域宽度180px */
}
.logo img{
	height: 30px;				/* logo图片高30px */
	margin: 15px 0;				/* 上下外边距15px */
}
.header-link {
	width: 220px;				/* 常用导航区域宽度220px */
}
.header-link ul li{				/* 常用导航列表 */
	display: inline-block;		/* 水平排列 */
	line-height: 60px;			/* 行高60px */
	margin-right:15px ;			/* 右外边距15px */
	cursor: pointer;			/* 鼠标指针,手势 */
}
.header-link ul li a{			/* 常用导航链接 */
	color: #555555;				/* 字体灰色 */
}
.header-search {
	width: 320px;
	height: 40px;
	margin: 10px 0;				/* 外边距上下10px,左右0 */
	padding-left: 20px;			/* 左内边距20px */
	border-radius: 20px;		/* 左右设置半圆弧 */
	background-color: #181818;	/* 设置背景色 */
}
.header-search input {			/* 搜索输入框 */
	height: 36px;
	width: 200px;
	font-size: 14px;
	outline: none;				/* 取消输入框轮廓 */
	border: none;				/* 取消输入边框 */
	background-color: #181818;	/* 设置背景色 */
	color: #555555;				/* 设置字体颜色 */
}
.header-search input::placeholder {		/* 输入框预留文字 */
	color: #555555;						/* 设置字体颜色 */
	font-style: normal;					/* 字体类型正常 */
}
.header-search div {
	height: 40px;
	width: 70px;
	background-color: #ff6d67;	/* 设置背景色 */
	border-radius:0 20px 20px 0;/* 右上角和右下角设置圆角 */
	float: right;				/* 右浮动 */
	text-align: center;			/* 内容水平居中 */
	padding-top: 7px;			/* 上内边距7px */
}
.header-search img {
	width: 25px;
	height: 25px;
}
.header-user {					/* 用户中心区域 */
	float: right;				/* 右浮动 */
	margin-top: 10px;			/* 顶部外边距10px */
}
.header-user>div {
	display: inline-block;		/* div子元素水平排列 */
	vertical-align: middle;		/* div子元素垂直居中对齐 */
}
.header-user ul li {
	display: inline-block;		/* 列表水平排列 */
	text-align: center;			/* 内容水平居中 */
	margin-right: 10px;			/* 右外边框10px */
	font-size: 14px;
}
/* 底部区域的样式设置 */
.footer {
	background-color: #f7f7f7;		/* 背景色设置 */
	text-align: center;				/* 内容居中 */
}
.footer-link1 {
	margin: 0 auto;					/* 区域居中 */
	font-size: 14px;				/* 文字大小设置 */
	color: #646464;					/* 文字颜色设置 */
}
.footer-link1 a{
	color: #646464;					/* 链接的颜色设置 */
}
.footer-link1 td{
	border-left: 1px solid;			/* 单元格左边框1像素实线 */
}
.footer-link1 td:first-child{
	border-left: 0px;				/* 第一个单元格左边框0像素 */
}
.footer-link2 {
	margin: 0 auto;					/* 区域居中 */
	font-size: 12px;				/* 文字大小设置 */
	color: #646464;					/* 文字颜色设置 */
}
.link-cursor {
	cursor: pointer;
}
.btn-submit {
	height: 40px;
	background-color: #ff8140;
	color: #fff;
	width: 280px;
	border: 0;
	border-radius: 20px;
	font-size: 20px;
}
input::placeholder {	/* 文本框预留文字 */
  color: #c7c7c7;		/* 颜色 灰色 */
  font-size: 14px;		/* 大小 14px */
  font-style: italic;	/* 斜体 */
}
/* 清除浮动 */
.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}
.vertical-align-top {
	vertical-align: top;
}
.vertical-align-bottom {
	vertical-align: bottom;
}
