.post-div img{
	width: 100%;
}
.nav-div{
	margin-top: 10px;
}
.nav-div>div{
	display:inline-block;
	vertical-align: middle;
}
.nav1 img{
	width: 20px;
	vertical-align: text-bottom;
	margin-right: 3px;
}
.nav-div li{
	display: inline-block;
	margin: 10px 30px 10px 0;
	cursor: pointer;
	line-height: 30px;
}
.nav2{
	border-left: 1px solid #cccccc;
	padding-left: 30px;
	width: calc(100%-620px);
	overflow: hidden;
	white-space: nowrap;
}
.nav-img{
	float: right;
}
