.float-right{
	float: right;
}
.header-nav li {
	display: inline-block;
	margin-left: 20px;
	line-height: 60px;
	height: 60px;
}
.header-nav a{
	color: #000000;
}
.header-nav li:last-child{
	border-bottom: 4px solid #ff6d67;
}
.header-nav li:last-child a{
	color: #FF6D67;
}
.help-img img {
	width: 100%;
}
.search-bar {
	position: relative;
	margin-top: 20px;
}
.vip-help {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 4px solid #ff6367;
	width: 120px;
	line-height: 36px;
}
.help-search {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 400px;
	height: 40px;
	border-radius: 20px;
	padding-left: 20px;
}
.help-search input {
	height: 36px;
	width: 200px;
	font-size: 16px;
	outline: none;
	color: #555555;
}
.help-search div {
	height: 38px;
	width: 70px;
	background-color: #ff6d67;
	border: none;
	border-radius: 0 20px 20px 0;
	float: right;
	text-align: center;
	padding-top: 6px;
}
.help-search img {
	width: 25px;
	height: 25px;
}
.img-help-bar {
	margin-top: 30px;
	background-color: #eeeeee;
	height: 200px;
	padding: 50px 100px;
}
.img-help-bar li {
	display: inline-block;
	width: 24%;
	text-align: center;
}
.help-context {
	margin-top: 40px;
}
.help-context>div {
	display:  inline-block;
}
.help-option {
	width: 25%;
}
.option-guide {
	margin: 7px 0 10px 0;
	padding-left: 34px;
}
.help-option li {
	height: 70px;
	border-left: 4px solid #f7f7f7;
	padding: 10px 30px 0 30px;
	line-height: 24px;
}
.help-option li:hover {
	background-color: #F7F7F7;
}
.help-text {
	width: 72%;
	line-height: 36px;
	font-size: 14px;
}
.help-text>div {
	margin-bottom: 30px;
}