/* 背景图 */
body {
	background: url(images2/bg1.png);		/* 背景图 */
	height: 100%;
	width: 100%;
	background-size: cover;
}
table {
	border-collapse: collapse;	/* 消除表格单元格之间的间隙 */
}
/* 登录框样式 */
.tbl-login {
	margin: 0 auto;								/* 左右居中 */
	background-color: #FFFFFF;
	box-shadow: 0px 0px 20px 5px rgba(176,176,176,0.1);	/* 阴影 */
	border-radius: 20px;						/* 圆角 */
}
/* 账号密码文字样式 */
.login-lbl {
	font-size: 18px;
	text-align: right;
}
/* 文本框样式 */
.login-int {
	border: none;
	border-bottom: 1px solid #C3C3C3;
	outline: none;
	font-size: 20px;
}
/* 登录按钮样式 */
.btn-submit {
	height: 40px;
	background-color: #ff8140;
	color: #fff;
	width: 280px;
	border: 0;
	border-radius: 20px;
	font-size: 20px;
}
.link-cursor {
	cursor: pointer;
}
/* 输入框预留文字样式 */
input::placeholder {	/* 文本框预留文字 */
  color: #c7c7c7;		/* 颜色 灰色 */
  font-size: 14px;		/* 大小 14px */
  font-style: italic;	/* 斜体 */
}
/* 记住密码忘记密码等小字样式 */
.tr-pw {
	font-size: 12px;
}
.tr-pw input{ 
	vertical-align: middle;
}
/* "立即注册"文字样式 */
.registered {
	color: #FF8140;
}
