.sort-bar{
	height: 35px;
	background-color: #f8f8f8;
}
.sort-bar ul li{
	display: inline-block;
	cursor: pointer;
	line-height: 35px;
	margin: 0 20px 0 5px;
}
.sort-bar ul li:first-child{
	border-bottom: 2px solid #ff8140;
}
.context-bar{
	display: grid;
	grid-template-columns:1fr 400px ;
}
.other-content{
	width: 340px;
	justify-self:right;
}
.search-result ul li{
	display: grid;
	grid-template-columns:200px 1fr ;
	margin-top: 20px;
}
.post-li img{
	width: 180px;
	height: 236px;
}
.text-li{
	position: relative;
}
.movie-name span{
	color: #999;
	font-size: 12px;
	margin-left: 5px;
}
.movie-name .score{
	font-size: 16px;
	color: #ff6000;
	float: right;
	font-weight: bold;
}
.info{
	display: grid;
	grid-template-columns:50% 50% ;
	font-size: 12px;
	grid-row-gap: 15px;
	margin-top: 5px;
}
.info div{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info label{
	color: #999;
}
.info .introduction{
	grid-column-start: 1;
	grid-column-end: 3;
	white-space: normal;
}
.play-now button{
	position: absolute;
	bottom: 5px;
	width: 125px;
	height: 34px;
	background-color: #FF8140;
	color: #fff;
	border: none;
	border-radius: 17px;
	font-size: 18px;
	cursor: pointer;
}
.stars li{
	display: inline-block;
	width: 80px;
	height: 110px;
	margin: 5px 15px 10px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	text-align: center;
}
.stars li div{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 8px;
}
.stars li img{
	width: 100%;
	height: 100%;
}
.ad{
	margin: 20px 15px 30px 15px;
}
.ad img{
	width: 100%;
	height: 100%;
}
.rank li{
	margin-bottom: 10px;
	
}
.rank li div{
	display: inline-block;
}
.rank .num{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #F8F8F8;
	color: #b4b4b4;
	font-size: 15px;
	font-family: impact;
	line-height: 24px;
	text-align: center;
}
.rank li:first-child .num{
	background-color: #ff3000;
	color: #F8F8F8;
}
.rank li:nth-child(2) .num{
	background-color: #FF6003;
	color: #F8F8F8;
}
.rank li:nth-child(3) .num{
	background-color: #ffb400;
	color: #F8F8F8;
}
.rank .rank-movie{
	padding-left: 12px;
	line-height: 24px;
	cursor: pointer;
	font-size: 14px;
}
.rank .up{
	float: right;
}
