	/* 登录框样式 */
.tbl-login{
				margin: 0 auto;								/* 左右居中 */
				background-color: #FFFFFF;
				box-shadow: 0px 0px 20px 5px rgba(176,176,176,0.1);	/* 阴影 */
				border-radius: 20px;						/* 圆角 */
				padding: 10px;
				width: 800px;
				height: 550px;
				
}

/* 背景图 */
body {
	background: url("images/bg1.png");		/* 背景图 */
	height: 100%;
	width: 100%;
	background-size: cover;
}
/* 账号注册 */
.text-register{
	margin-bottom:85px ;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	letter-spacing:8px;			/* 字间距 */
	
	
}

/* 文本框样式 */
.login-int{
	border: none;
	border-bottom: 1px solid #C3C3C3;
	outline: none;
	font-size: 20px;
	margin-left: 4px;
}

/* 输入框预留文字样式 */
input::placeholder {	/* 文本框预留文字 */
  color: #c7c7c7;		/* 颜色 灰色 */
  font-size: 14px;		/* 大小 14px */
  font-style: italic;	/* 斜体 */
}

/* 
立即注册按钮 */
.btn-register{
	height: 40px;
	background-color: #ff8140;
	color: #fff;
	width: 280px;
	border: 0;
	border-radius: 20px;
	font-size: 20px;
	margin: 30px 30px 15px 30px;
}
/* 验证码文本框 */
.yanzm-int{
	border: none;
	border-bottom: 1px solid #C3C3C3;
	outline: none;
	font-size: 2px;
}
/* 验证码按钮 */
.yanzm-btn{
	height: 40px;
	width: 100px;
	margin-left: 4px;
}
/* 右边div */
.right{
	float:right;
	display: inline-block;
	margin-right: 5px;
}
/* 左边div */
.left{
	float:left;
	display: inline-block;
	
}
/* 账号密码文字 */
.login-lbl{
	font-size: 18px;
	text-align: center;
	margin: 30px 30px 7px 30px;
	
}
.text{
letter-spacing:1px;
}
/* "登录"文字样式 */
.login {
	color: #FF8140;
	text-decoration: none;
	
	
}