/* 背景图 */
body {
	background: url("images/bg1.png");		/* 背景图 */
	height: 100%;
	width: 100%;
	background-size: cover;
}
table {
	border-collapse: collapse;	/* 消除表格单元格之间的间隙 */
}


/* 登录框样式 */
.tbl-login{
	margin: 0 auto;								/* 左右居中 */
	background-color: #FFFFFF;
	box-shadow: 0px 0px 20px 5px rgba(176,176,176,0.1);	/* 阴影 */
	border-radius: 20px;						/* 圆角 */
	padding: 10px;
	width: 500px;
	height: 550px;
	
}
/* 账号密码文字样式 */
.login-lbl {
	font-size: 18px;
	text-align: center;
	margin: 30px 30px 7px 30px;
	
}
/* 文本框样式 */
.login-int{
	border: none;
	border-bottom: 1px solid #C3C3C3;
	outline: none;
	font-size: 20px;
}
/* 登录按钮样式 */
.btn-login{
	height: 40px;
	background-color: #ff8140;
	color: #fff;
	width: 280px;
	border: 0;
	border-radius: 20px;
	font-size: 20px;
	margin: 30px 30px 15px 30px;
}
.link-cursor {
	cursor: pointer;
}
/* 输入框预留文字样式 */
input::placeholder {	/* 文本框预留文字 */
  color: #c7c7c7;		/* 颜色 灰色 */
  font-size: 14px;		/* 大小 14px */
  font-style: italic;	/* 斜体 */
}
/* 记住密码忘记密码等小字样式 */
.tr-pw {
	font-size: 12px;
	
}
.tr-pw input{ 
	vertical-align: middle;
}
/* "立即注册"文字样式 */
.registered {
	color: #FF8140;
	text-decoration: none;
	
	
}
/* 忘记密码 */

.forget{
	text-decoration: none;
	color: black;
	margin-left: 80px;
	
}
/* 账号登录字体 */
#denglu{
	margin-bottom:85px ;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	letter-spacing:8px;			/* 字间距 */
	
	
}
/* 其他方式登录 */
.image{
	font-size: 15px;
	padding: 20px;
}
