.sort-bar{
	height: 35px;
	background-color: #f8f8f8;
}
.sort-bar ul li{
	display: inline-block;
	/* cursor: pointer; */
	line-height: 35px;
	margin: 0 20px 0 5px;
}
.sort-bar ul li:first-child{
	border-bottom: 2px solid #FF8140;
}